{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

<div class="container-fluid">
    <div class="row md">
        <div class="col-md-2"></div>
        <div class="col-md-8" id="blist">
            <h1><span class="spanred">최</span>고로 <span class="spanred">애</span>정하는 <span class="spanred">유</span>튜브</h1>

            {% if user.is_active %}
            <a id="create" href="{% url 'bookmark_create' %}">CREATE</a>

            {% endif %}

            <br><br>

            <ul id="blistul">

                {% for bookmark in object_list %}

                <li id="blistli">
                    <a href= "{% url 'detail' bookmark.id %}" id="badetail" > {{ bookmark }} </a>
                </li>

                {% endfor %}

            </ul>

        </div>
        <div class="col-md-2"></div>
    </div>
</div>

{% endblock content %}