{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}


<div class="container-fluid">
    <h1 id="title"> Bookmark Add </h1>

    <div class="row md">
        <div class="col-md-4"></div>

        <div class="col-md-4" id="bformdiv">
            <form method="POST" action=""> {% csrf_token %}

                <div class="row md">
                    <div class="col-md-6 label">Title</div>
                    <div class="col-md-6 input">{{ form.title }}</div>
                </div>

                <div class="row md">
                    <div class="col-md-6 label">URL</div>
                    <div class="col-md-6 input">{{ form.url }}</div>
                </div>

                <div id="buttondiv">
                    <button type="submit" id="button">CREATE/UPDATE</button>
                </div>
            </form>
        </div>

        <div class="col-md-4"></div>
    </div>
</div>

{% endblock content %}