

{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

<br><br><br>

<div class="container-fluid">
    <div class="row md">
        <div class="col-md-4"></div>
        <div class="col-md-4" id="pdeletediv">
            <form method="POST" action="." enctype="multipart/form-data"> {% csrf_token %}
                <svg width="10em" height="10em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="#4374D9" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
</svg>

                <br><br>

                <p> Are you sure you want to delete? </p>

                <button type="submit" style=" width: 90%; border-radius: 10px; background-color: #4374D9; color: white;">YES</button>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

{% endblock content %}