
{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

<div class="container">

    <h1 id="title">Blog <span id="small">made by Garden</span></h1>

    {% if user.is_active %}

    <div id="buttondiv" style="margin-top: -30px; margin-bottom: 20px; width: 50%; margin-left: auto; margin-right: auto;">
        <a href="{% url 'blog_create' %}">
            <button id="button">CREATE</button>
        </a>
    </div>

    {% endif %}

    <div class="row md" id="plistdiv">

        {% for post in object_list %}
        <div class="col-md-4">
            <a href="{% url 'blog_detail' post.id %}">
            <div class="post">
                <p id="posttitle"> {{ post.title }} </p>
                <img src="{{ post.image.url }}" alt= "{{ post.title }}" id="pimg">
                <p> <span class="des">Description:</span> {{ post.description }} </p>
                <p> <span class="des">Created:</span> {{ post.create_date }} </p>
                <p> <span class="des">Modified:</span> {{ post.modify_date }} </p>
           </div>
        </a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content%}