
{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

<div class="container-fluid">
    <div class="row md">
        <div class="col-md-2"></div>
        <div class="col-md-8"  id="pdetaildiv">
            <h1 id="title"> {{ object.title }} </h1>

            {% if user.is_active %}

            <div class="row md" id="updatedelete">
                <div class="col-md-3"></div>
                <div class="col-md-3">
                    <div class="buttondiv">
                        <a href="{% url 'blog_update' post.id %}">
                            <button class="button">UPDATE</button>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="buttondiv">
                        <a href="{% url 'blog_delete' post.id %}">
                            <button class="button">DELETE</button>
                        </a>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>

            {% endif %}

            <br><br>

            <ul>
                <li> <span class="des">Description: </span> {{ object.description }} </li>
                <li> <span class="des">Create Date: </span> {{ object.create_date }} </li>
                <li> <span class="des">Modify Date: </span> {{ object.modify_date }} </li>
            </ul>

            <br><br>

            <div id="imgdiv">
                <img src="{{ object.image.url }}" alt="{{ object.title }}" width="100%" height="auto">
            </div>

            <div id="disqus_thread"></div>

        </div>
        <div class="col-md-2"></div>
    </div>
</div>

<script>
    (
        function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://garden-lee.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        }
    )
    ();
</script>

{% endblock content %}